ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
}

ul:after{
    display: block;
    margin: 0px;
    padding: 0px;
}

ul.topmenu li{
    float:left;
    position: relative;
}

li{
    display: block;
    width: 233px;
    height: 48px;
    background-color: #3AB500;
    text-align: left;

}
a{
    padding-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
ul.submenu_level_1{
    margin-top: 48px;
    display:none;


}

ul.submenu_level_2{
    margin-left: 233px;
    padding-bottom: 100px;
    display:none;
    position: relative;

}
ul.topmenu>li:hover{
    background-color: black;
}

ul.topmenu>li:hover>ul.submenu_level_1{
    display: block;
}

ul.topmenu>li:hover>ul.submenu_level_1>li:hover>ul.submenu_level_2{
    display: block;
}

ul.topmenu>li:hover>ul.submenu_level_1>li:hover>ul.submenu_level_2>li:hover{
    background-color: #2B8700;
}
ul.topmenu>li:hover>ul.submenu_level_1>li:hover{
    background-color:rgb(129, 48, 48);
}
span{
    text-align: right;
    margin-left: 130px;
}
a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    padding-left: 16px;
    position: absolute;
    top:5px;
}
ul.submenu_level_1>li:nth-child(even){
    background-color: #60D828 ;
}
ul.submenu_level_2>li:nth-child(odd){
    background-color: #60D828 ;
}
